.interaction-main-div{
    height: 100vh;
    position: relative;
}
.level-div h2{
    margin: 0;
    padding-top: 10px;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
}
.home-icon-skel .fahome-icon-skel{
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    color: #252D4A;
    cursor: pointer;
    z-index: 10;
    
}
.questions-main-bg-image{
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    position: absolute;
    object-fit: cover;
}
.question-numbers-div{
    text-align: center;
}
.question-test-div{
    margin-left: 10%;
    margin-right: 10%;
}
.four-options-div{
    margin-left: 15%;
    margin-right: 15%;
}
.four-options-div .opt-buttons{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding-left: 5%;
    padding-right:5%;
}
.question-test-div h2{
    display: flex;
}
.MathJax{
    text-align: left !important;
    margin: 0 !important;
}
.prev-next-button{
    width: 100vw;
    display:flex;
    justify-content: space-around;
    bottom: 50px;
    position: absolute;
}