.topmost-showanswer-questions-main-div{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 40px;
    font-family: 'PT Serif', serif;
}
.showanswer-four-options-div{
    display: flex;
    flex-direction: column;
}
.showanswer-question-test-div{
    margin-top: 10px;
    margin-bottom: 10px;
}
.showanswer-individual-btn{
    margin-top: 2px;
    margin-bottom: 2px;
}